{{define "index"}}

{{template "head" }}

<body>

    {{template "header" }}

    <div class="container mt-3">
        <p>Выберите изображение для статьи:</p>
        <div class="mb-3">
            <input type="file" id="imageInput" class="form-control" accept="image/*">
        </div>
        <input type="text" id="title" placeholder="Введите название статьи" class="form-control" required><br>
        <input type="text" id="subtitle" placeholder="Введите подзаголовок статьи" class="form-control" required><br>
        <input type="text" id="createAt" class="form-control md-2" placeholder="Введите подзаголовок статьи" value="" readonly>
        <script>
            // Получить текущую дату
            var currentDate = new Date();

            // Форматировать дату в строку (например, "dd.mm.yyyy")
            var formattedDate = currentDate.getDate() + '.' + (currentDate.getMonth() + 1) + '.' + currentDate.getFullYear();

            // Установить отформатированную дату в поле ввода
            document.getElementById("createAt").value = formattedDate;
        </script>
        <div id="editor" name="editor" placeholder="Введите текст статьи" class="h-50 p3 "></div>
        <button type="submit" class="btn btn-primary mt-2" id="saveButton">Добавить</button>
    </div>


    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow', // Тема редактора (по умолчанию "snow")

            // Настройки панели инструментов
            modules: {
                toolbar: [
                    [{ 'header': '1' }, { 'header': '2' }],
                    ['bold', 'italic', 'underline', 'strike'],
                    ['link', 'image'],
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'align': [] }],
                    ['clean'],
                    [{'font': []}],

                ]
            },

            // Настройки форматирования текста
            formats: [
                'header', 'bold', 'italic', 'underline', 'strike',
                'link','image', 'list', 'align', "font",
            ]
        });

        // Обработка события изменения контента
        quill.on('text-change', function(delta, oldDelta, source) {
            // Здесь вы можете обрабатывать изменения текста
            console.log('Text changed:', delta);
        });


        // Обработчик события для кнопки сохранения
        document.getElementById("saveButton").addEventListener("click", function () {

            // Находим элементы по их id
            var imageInput = document.querySelector("input[type='file']");
            var titleInput = document.getElementById("title");
            var subtitleInput = document.getElementById("subtitle");
            var createAtInput = document.getElementById("createAt");
            var editorInput = document.getElementById("editor");
            // Создаем объект FormData
            var formData = new FormData();

            // Получаем значения из других полей (title, subtitle, createAt, content)
            var title = titleInput.value;
            var subtitle = subtitleInput.value;
            var createAt = createAtInput.value;
            var content = editorInput.value; // Если это поле для ввода текста
            var selectedFile = imageInput.value;
            // Добавляем все данные в объект FormData
            formData.append("title", title);
            formData.append("subtitle", subtitle);
            formData.append("createAt", createAt);
            formData.append("content", content);
            formData.append("image", selectedFile);

            // Отправляем formData на сервер
            fetch('/articles', {
                method: 'POST',
                body: formData
            }).then(function (response) {
                if (response.ok) {
                    // Данные успешно отправлены
                    console.log('Статья успешно создана.');
                } else {
                    // Обработка ошибки
                    console.error('Произошла ошибка при создании статьи.');
                }
            }).catch(function (error) {
                console.error('Ошибка при отправке данных:', error);
            });

            document.location.href = '/';
        });
    </script>
    {{template "footer" }}

{{end}}
