{{define "index"}}

{{template "head" }}

<body>

    {{template "header" }}

    <div class="container mt-3">
        <input type="text" id="title" placeholder="Введите название статьи" class="form-control"><br>
        <div id="editor" name="editor" placeholder="Введите текст статьи" class="h-50 p3"></div>
        <button class="btn btn-warning mt-2" id="saveButton">Добавить</button>
    </div>


    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>


        var quill = new Quill('#editor', {
            theme: 'snow', // Тема редактора (по умолчанию "snow")

            // Настройки панели инструментов
            modules: {
                toolbar: [
                    [{ 'header': '1' }, { 'header': '2' }],
                    ['bold', 'italic', 'underline', 'strike'],
                    ['link', 'image'],
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'align': [] }],
                    ['clean'],
                    [{'font': []}],

                ]
            },

            // Настройки форматирования текста
            formats: [
                'header', 'bold', 'italic', 'underline', 'strike',
                'link','image', 'list', 'align', "font",
            ]
        });

        // Обработка события изменения контента
        quill.on('text-change', function(delta, oldDelta, source) {
            // Здесь вы можете обрабатывать изменения текста
            console.log('Text changed:', delta);
        });
        // Получение кнопки по ее ID
        var saveButton = document.getElementById('saveButton');


        // Добавление обработчика события на клик кнопки
        saveButton.addEventListener('click', function() {
            // Вызов функции sendArticleContent при клике
            sendArticleContent();
        });
        // Получение содержимого редактора
        function getEditorContent() {
            var content = quill.root.innerHTML;
            console.log('Editor content:', content);
        }

        // Установка содержимого редактора
        function sendArticleContent() {
            // Получение содержимого редактора
            var content = quill.root.innerHTML;
            var titleInput = document.getElementById('title');

// Получение значения из элемента
            var titleValue = titleInput.value;

            console.log(titleValue)
            // Создание объекта для отправки данных
            var data = {
                title:titleValue,
                content: content
            };

            // Опции для POST-запроса
            var options = {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            };

            // Отправка POST-запроса
            fetch('/articles', options)
                .then(function(response) {
                    if (response.status === 201) {
                        console.log('Статья успешно создана и сохранена!');
                    } else {
                        console.error('Ошибка при создании статьи:', response.statusText);
                    }
                })
                .catch(function(error) {
                    console.error('Ошибка при отправке запроса:', error);
                });
            document.location.href = "/"
        }
    </script>

    {{template "footer" }}

{{end}}
