{{define "index"}}

{{template "head" }}

<body>

    {{template "header" }}

    <div class="container mt-3">
        <input type="text" id="title" placeholder="Введите название статьи" class="form-control"><br>
        <input type="text" id="Subtitle" placeholder="Введите подзаголовок статьи" class="form-control"><br>
        <input type="text" id="CreateAt" class="form-control mb-3" placeholder="Введите подзаголовок статьи" value="" readonly>
            <h3>Выбор темы</h3>
        <label for="theme" class=" mb-3" >Выберите тему:</label>

        <select id="theme" class="rounded border border-rounded-2">
        {{range $index, $item := . }}
                <option value="{{$item.Id}}" class="rounded border border-rounded-2">{{$item.Name}}</option>
            {{end}}
        </select>

        <script>
            const themeSelect = document.getElementById('theme');
            const body = document.body;
            const container = document.querySelector('.container');

            themeSelect.addEventListener('change', function() {
                const selectedTheme = themeSelect.value;
                applyTheme(selectedTheme);
            });

            function applyTheme(theme) {
                const selectedOption = themeSelect.querySelector(`[value="${theme}"]`);
// Получить элемент с идентификатором "editor"
                const editorElement = document.getElementById('editor');

// Установить новый цвет фона (например, красный)

                if (selectedOption) {
                    // Разбиваем значение "value" на массив, разделяя его запятыми и преобразуя в числа
                    const themeId = selectedOption.value;

                    var thems

                    fetch(`http://localhost:8000/theme/${themeId}`)
                        .then(response => response.json())
                        .then(data => {
                            // Обработка данных, полученных от сервера
                            console.log(data);
                            thems  = data
                            editorElement.style.backgroundColor = `rgb(${thems.R},${thems.G},${thems.B}, 0.6)`                        })
                        .catch(error => {
                            console.error('Ошибка при запросе данных:', error);
                        });


                } else {
                    body.style.backgroundColor = 'white';
                    body.style.color = 'black';
                    container.style.backgroundColor = 'lightgray';
                }
            }
        </script>


        <script>
            // Получить текущую дату
            var currentDate = new Date();

            // Форматировать дату в строку (например, "dd.mm.yyyy")
            var formattedDate = currentDate.getDate() + '.' + (currentDate.getMonth() + 1) + '.' + currentDate.getFullYear();

            // Установить отформатированную дату в поле ввода
            document.getElementById("CreateAt").value = formattedDate;
        </script>
        <div id="editor" name="editor" placeholder="Введите текст статьи" class="h-50 p3 "></div>
        <button class="btn btn-primary mt-2" id="saveButton">Добавить</button>
    </div>


    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>


        var quill = new Quill('#editor', {
            theme: 'snow', // Тема редактора (по умолчанию "snow")

            // Настройки панели инструментов
            modules: {
                toolbar: [
                    [{ 'header': '1' }, { 'header': '2' }],
                    ['bold', 'italic', 'underline', 'strike'],
                    ['link', 'image'],
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'align': [] }],
                    ['clean'],
                    [{'font': []}],

                ]
            },

            // Настройки форматирования текста
            formats: [
                'header', 'bold', 'italic', 'underline', 'strike',
                'link','image', 'list', 'align', "font",
            ]
        });

        // Обработка события изменения контента
        quill.on('text-change', function(delta, oldDelta, source) {
            // Здесь вы можете обрабатывать изменения текста
            console.log('Text changed:', delta);
        });
        // Получение кнопки по ее ID
        var saveButton = document.getElementById('saveButton');


        // Добавление обработчика события на клик кнопки
        saveButton.addEventListener('click', function() {
            // Вызов функции sendArticleContent при клике
            sendArticleContent();
        });
        // Получение содержимого редактора
        function getEditorContent() {
            var content = quill.root.innerHTML;
            console.log('Editor content:', content);
        }

        // Установка содержимого редактора
        function sendArticleContent() {
            // Получение содержимого редактора
            var content = quill.root.innerHTML;
            var titleInput = document.getElementById('title');
            var Subtitle = document.getElementById('Subtitle');
            var CreateAt = document.getElementById('CreateAt');
            var theme = document.getElementById('theme');

// Получение значения из элемента
            var SubtitleValue = Subtitle.value;
            var CreateAtValue = CreateAt.value;
            var themeValue = theme.value;
            var titleValue = titleInput.value;

            console.log(titleValue)

            // Создание объекта для отправки данных
            var data = {
                Title:titleValue,
                Subtitle: SubtitleValue,
                Content: content,
                Theme: themeValue,
                CreateAt: CreateAtValue,
            };

            // Опции для POST-запроса
            var options = {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            };

            // Отправка POST-запроса
            fetch('/articles', options)
                .then(function(response) {
                    if (response.status === 201) {
                        console.log('Статья успешно создана и сохранена!');
                    } else {
                        console.error('Ошибка при создании статьи:', response.statusText);
                    }
                })
                .catch(function(error) {
                    console.error('Ошибка при отправке запроса:', error);
                });
            document.location.href = "/"
        }
    </script>

    {{template "footer" }}

{{end}}
