{{define "header"}}
<header class="bg-body-tertiary">
  <nav class="navbar navbar-expand-lg container">
    <div class="container-fluid">
      <a class="navbar-brand logo" href="/">Sebbeasts news</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"  id="navbarNav">
        <ul class="nav nav-underline">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">News</a>
          </li>
        </ul>
      </div>
      <a class="btn btn-primary mt-1" href="/input" role="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">Опубликовать</a>
    </div>
  </nav>
</header>
{{ end }}