{{define "index"}}

{{template "head" }}

<body class="d-flex h-100 text-center test">
  {{template "header" }}

  <main class="px-3">
    <div class="animation-container">
      <svg class="intro" viewbox="0 0 200 86">
        <text text-anchor="start" x="10" y="30" class="text text-stroke" clip-path="url(#text1)">Welcome to</text>
        <text text-anchor="start" x="10" y="50" class="text text-stroke" clip-path="url(#text2)">Olga Lazurenko</text>
        <text text-anchor="start" x="10" y="70" class="text text-stroke" clip-path="url(#text3)">Hair Studio</text>
        <text text-anchor="start" x="10" y="30" class="text text-stroke text-stroke-2" clip-path="url(#text1)">Welcome
          to
        </text>
        <text text-anchor="start" x="10" y="50" class="text text-stroke text-stroke-2" clip-path="url(#text2)">Olga
          Lazurenko
        </text>
        <text text-anchor="start" x="10" y="70" class="text text-stroke text-stroke-2" clip-path="url(#text3)">Hair
          Studio
        </text>
        <defs>
          <clipPath id="text1">
            <text text-anchor="start" x="10" y="30" class="text">Welcome to</text>
          </clipPath>
          <clipPath id="text2">
            <text text-anchor="start" x="10" y="50" class="text">Olga Lazurenko</text>
          </clipPath>
          <clipPath id="text3">
            <text text-anchor="start" x="10" y="70" class="text">Hair Studio</text>
          </clipPath>
        </defs>
      </svg>
    </div>
  </main>

  {{template "footer" }}
  {{end}}

